@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=Vollkorn);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  margin: 0;
  margin-bottom: 10em;
  width: 100%;
  height: 100%;
  background: #ECF0F1;
  color: #130F0E;
  font-family: 'Open Sans';
}

body * {
    margin: 0;
    padding: 0;
}

#bug {
    display: block;
    height: 7em;
}

.command {
    display: block;
    background: white;
    color: #333;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: 14px;
    padding: 0.75em;
    border: solid 1px #ddd;
    margin: 1em auto;
    width: 80%;
}

#editor {
    width: 80%;
    z-index: 10;
    top: 7em;
    padding-left: 9%;
    position: fixed;
    display: none;
}

#editor textarea {
    width: 47%;
    padding: 0.5em 1em;
    resize: none;
}

#editor button {
    font-family: Consolas;
    font-size: 12px;
    color: white;
    position: absolute;
    padding: 5px 15px;
    border: none;
    top: 1em;
    right: 1.5em;
    background-color: #ee352a;
}

#editor button:hover {
    background-color: #ff463b;
}

.block {
    display: block;
    margin: 1.5em auto;
    width: 80%;
}

.block>div {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

.header {
    font-size: 28px;
    text-decoration: underline;
}

p {
  font-size: 18px;
  margin: 1.5em auto;
  width: 80%;
}

p.middle {
    margin-top: 1em;
    margin-bottom: 1em;
}

#bar {
  position: fixed;
  width: 100%;
  padding: 0.5em 0;
  background: #ee352a;
  z-index: 100;
}

#bar table {
    margin: auto;
}

#bar table tr {
  float: left;
  margin: auto;
}

#logo {
  color: white;
  font-size: 3.5em;
  margin-right: 1em;
  font-family: 'Vollkorn';
}

code a {
    text-decoration: none;
    color: inherit;
}

#cssmenu {
  display: inline-block;
  background: #f96e5b;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  float: left;
  display: block;
  padding: 0;
}
#cssmenu ul li a {
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
} 
#cssmenu ul li a:hover {
  text-decoration: underline;
}
#cssmenu ul li a:after {
  content: '';
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
@media screen and (max-width: 680px) {
  p {
    width: 80%;
  }

  #bug {
      height: 9em;
  }

  .block>div {
    width: auto;
    display: block;
  }

  table {
    text-align: center;
  }
  
  table tr {
    float: none;
  }
  
  #cssmenu ul li {
    float: none;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    height: 1px;
    background: #ffffff;
    width: 100%;
    opacity: .2;
  }
  #cssmenu ul li.last > a:before,
  #cssmenu ul li:last-child > a:before {
    display: none;
  }
}

::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background: #ff685c;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active  {
    background: #ff887c;
}